<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

     <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <title>Game: Daytime</title>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100 mt-4">
            <div class="card">
                <div class="card-header">
			<h3>Daytime {{ session["username"] }}</h3>
                </div>
                <div class="card-body">
                    {% if playersKilled %}
                    <p class="mx-auto" id="description">You wake up in the morning and see that somebody has been slaughtered! Who do you think did it?</p>
                    <table id="deadPlayers" class="table table-hover">
                        <tr><th>Deceased Player</th><th>Role</th></tr>
                        {% for player in playersKilled %}
                            <tr>
                                <td>{{ player['username'] }}</td>
                                <td>{{ player['role'] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p class="mx-auto" id="description">You wake up in the morning and see that nobody has died! What a good day! Sadly, somebody here is a werewolf - Who do you think it is?</p>
                    {% endif %}
                    <div class="container text-center">
                        <table id="names" class="table table-hover">
                            {% for player in alivePlayers %}
                            <tr>
                                <td><button type="button" id="{{player}}{{loop.index}}" class="btn btn-danger player">{{player}}</button>
                            </tr>
                            <!-- give each button an id of the user as well to track votes -->
                            {% endfor %}
                        </table>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <div class="flip-card col-8">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="row">
                                        <p class="mx-auto">Hover for role</p>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p>{{ session["role"] }}</p>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-warning col-5" id="readyUp">OK</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
    </div>
    <script>
        var socket = io(); // declares the socket
        socket.emit('join room');

        $(document).ready(function () {
            $( "#readyUp" ).click(function() {
                $("#readyUp").prop("disabled",true);
                $("#readyUp").html('Wait...');
                socket.emit('im ready');
            });

            socket.on('next screen', function (){
                    console.log("All players ready!")
                    window.location.href = "/voteResults";
                })

                $(".player").click(function() {
                let role = '{{role}}';
                let player = $(this).html();
                socket.emit('cast vote',player,"{{roomId}}");
                $("#names").empty();
                $("#readyUp").prop("disabled",true);
                $("#readyUp").html('Wait...');
                })

        });

	var seconds;
	var temp;

	function countdown() {
		seconds = document.getElementById('countdown').innerHTML;
		seconds = parseInt(seconds, 10)

		if (seconds == 1) {
			socket.emit('vote timeout',"{{ session['username']}}","{{roomId}}");
			window.location.href="/voteResults"
		}

		seconds--;
		temp = document.getElementById('countdown');
		temp.innerHTML = seconds;
		timeoutMyOswego = setTimeout(countdown, 1000);
	};

	countdown();

    </script>

</body>

</html>
