<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <title>Game: Night-time</title>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100 mt-4">
            <div class="card">
                <div class="card-header">
                    <h3>Night-time</h3>
                </div>
                <div class="card-body">
                    <p class="mx-auto" id="description">Close your eyes and sleep until morning!</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center ">
                        <div class="flip-card col-8">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="row">
                                        <p class="mx-auto">Hover for role</p>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p>{{ session["role"] }}</p>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-warning col-5" id="readyUp">OK</button>
                        <!-- <button class="btn btn-warning col-5" id="wakeup">WAKE UP!</button> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>

        var socket = io(); // declares the socket
        let role = '{{ session["role"] }}';
        socket.emit('join room');

        $(document).ready(function () {
            $( "#readyUp" ).click(function() {
                $("#readyUp").prop("disabled",true);
                $("#readyUp").html('Wait...');
                socket.emit('im ready');
            });

            $("#wakeup").click(function() {
                console.log("WAKING EVERYBODY UP!")
                socket.emit('wake up');

            });

        });

        socket.on('seer event', function (){
            console.log("STARTING SEER EVENT!");
            if(role=="seer"){
                window.location.href = "/specialRole";
            }
        })

        socket.on('werewolf event', function (){
            console.log("STARTING WEREWOLF EVENT!");
            if(role=="headWerewolf"){
                window.location.href = "/specialRole";
            }
        })

        socket.on('wake up', function (){
                window.location.href = "/daytime";
        })

        socket.on('next screen', function (){
                    console.log("All players ready!")
                    window.location.href = "/daytime";
        })

    </script>



</body>

</html>