<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"></script>

  <title>Play Werewolf!</title>
</head>
{% set active_page = "game" %}
{% include 'navbar.html' %}

<body>
  <div class="d-flex justify-content-center h-100 mt-4">
    <div class="card">
      <div class="card-header">
        <h3>Create a Game</h3>
      </div>
      <div class="card-body">
        <form action="/createGame" method="POST">
          <div class="input-group form-group">
            <p>Decision Timer:<p>
          </div>
          <div class="input-group form-group">
            <input name="decisionTimer" id="decisionTimer" type="text" data-slider-ticks="[1,3,5,7,9]" data-slider-ticks-snap-bounds="30"
              data-slider-min="0" data-slider-max="10" data-slider-ticks-labels='["1m","3m","5m","7m","9m"]' />
          </div>
          <div class="input-group form-group">
            <p>Player Count:<p>
          </div>
          <div class="input-group form-group">
            <input name="playersNeeded" id="playersNeeded" type="text" data-slider-ticks="[6,7,8,9,10,11,12,13,14,15,16]"
              data-slider-ticks-snap-bounds="30" data-slider-min="6" data-slider-max="16" data-slider-step="1"
              data-slider-ticks-labels='["6","","8","","10","","12","","14","","16"]' />
          </div>
          <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-success float-right">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Want to join a room instead?<a href="game">  Join</a>
        </div>
      </div>
    </div>


</body>
<script>
  $("#decisionTimer").slider({
    ticks: [1,3,5,7,9]
  });

  $("#playersNeeded").slider({
    ticks: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
  });

</script>

</html>