<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <title>Play Werewolf!</title>
</head>
{% set active_page = "home" %}
{% include 'navbar.html' %}
<body>

  <div class="bg-primary my-5 p-3 container text-center">
    <div class="row">
        <div class="mx-auto"><h1>Werewolf <i class="fab fa-wolf-pack-battalion"></i></h1></div>
    </div>
    <div class="row">
        <div class="mx-auto"><h3>Will you be an innocent villager or a cunning werewolf? Play now to find out!</h3></div>
    </div>
    {% if session['loggedIn'] %}
    <div class="row">
      <a class="btn btn-secondary btn-lg col-sm-6 mx-auto" href="/game" role="button">Play a game!</a>
    </div>
      {% else %}
    <div class="row">
      <p class="mx-auto">Create an account to track your stats or play as a guest to test the waters.</p>
    </div>
    <div class="row">
      <a class="btn btn-success btn-lg mx-auto col-sm-5" href="login" role="button">Login</a>
      <a class="btn btn-warning btn-lg mx-auto col-sm-5" href="signup" role="button">Create Account</a>
    </div>
    <div class="row">
      <p class="mx-auto or-spacing">OR</p>
    </div>
    <div class="row">
      <a class="btn btn-secondary btn-lg mr-3 col-sm-3 mx-auto" href="/guestlogin" role="button">Play as guest</a>
    </div>
    {% endif %}
</div>     

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
