<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <title>Hello, world!</title>
</head>
{% include 'navbar.html' %}

<body>

  <div class="bg-primary title-container">
    <div class="row">
        <div class="mx-auto"><h1>Werewolf</h1></div>
    </div>
    <div class="row">
        <div class="mx-auto"><h3>Will you be a innocent villager or a cunning werewolf? Play now to find out!</h3></div>
    </div>
    <div class="row">
      <p class="mx-auto">Create an account to track your stats or play as a guest to test the waters.</p>
    </div>
    <div class="row">
      <a class="btn btn-success btn-lg mx-auto col-sm-5" href="#" role="button">Login</a>
      <a class="btn btn-warning btn-lg mx-auto col-sm-5" href="#" role="button">Create Account</a>
    </div>
    <div class="row">
      <p class="mx-auto">OR</p>
    </div>
    <div class="row">
      <a class="btn btn-secondary btn-lg mr-3 col-sm-3 mx-auto" href="#" role="button">Play as guest</a>
    </div>
</div>     


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>