<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <title>Lobby</title>
</head>

<body>
    <div class="d-flex justify-content-center h-100 mt-4">
        <div class="card" id="lobbyCard">
            <div class="card-header text-center">
                <h3>Lobby: {{roomId}}</h3>
                <h5>People: <span id="currentPlayers">{{currentPlayers}}</span>/{{playersNeeded}}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="container text-center">
                        <table id="names" class="table table-hover">
                            {% for player in playerNames %}
                            <tr>
                                <td>{{ player }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <br><br>
                <div class="progress">
                    <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <span>Want to leave this room?</span><a class="btn-danger ml-3" href="/leaveLobby"
                        role="button">Leave
                        Room</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function progressBar(){ //changes progress bar based on current players
            let progress = $('#currentPlayers').text() / {{ playersNeeded }}
            $("#progressbar").attr('style', "width: " + (progress * 100) + "%");
        }

        function updateCount(currentPlayers){ //changes current player count
            $("#currentPlayers").html(currentPlayers);
        }
        
        var socket = io(); // declares the socket

        $(document).ready(function () {
            socket.emit('lobby entered','{{roomId}}');

            socket.on('reload users', function (userList){
                $('#names').empty();
                for (let user of userList) {
                    $('#names').append('<tr><td>'+user+'</tr></td>');
                }
                updateCount(userList.length);
                progressBar();

                console.log('User List was refreshed with:' + userList);
            })

            socket.on('start game', function (userList){
                console.log("PLAYER COUNT REACHED!!!*******")
                window.location.href = "/pregame";
            })

        });

    </script>

</body>

</html>
