<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Werewolf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item {{ 'active' if active_page == 'home' else '' }}">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item {{ 'active' if active_page == 'whatIs' else '' }}">
          <a class="nav-link" href="#">What is Werewolf?</a>
        </li>
        <li class="nav-item {{ 'active' if active_page == 'create' else '' }}">
          <a class="nav-link" href="#">Create a Game</a>
        </li>
        <li class="nav-item {{ 'active' if active_page == 'join' else '' }}">
          <a class="nav-link" href="#">Join a Game</a>
        </li>
        <li class="nav-item pull-right {{ 'active' if active_page == 'login' else '' }}">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav pull-right">
        
      </ul>
    </div>
  </nav>